@import url(../layouts/default.css);
@import url(control-bar.css);
@import url(control-windows.css);
@import url(ui-windows.css);
@import url(list.css);
@import url(table.css);

body
{
    background: url(../patterns/office/office.png) 0 0;
    background-attachment: fixed;
    color: #000;
    font-family: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
}

h1, h2, h3
{ 
    font-weight: normal;
    color: #F18608;
}