body
{
	background: #FFF url(../patterns/retina_wood/retina_wood.png);
	color: #000;
	font-size: 16px;
	font-family: Arial, sans-serif;
}

.ui-window
{
	box-shadow: 0 5px 15px #963;
	border-radius: 10px;
	background: #FFF url(../patterns/natural_paper/natural_paper.png);
	max-width: 25%;
}

.ui-header
{
	background: #EEE url(../patterns/low_contrast_linen/low_contrast_linen.png);
	color: #FFF;
	font-weight: bold;
	border-bottom: solid #999 1px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 5px 48px 5px 10px;
	cursor: move;
}

.ui-shader, .ui-closer
{
	background-color: #777;
	color: #FFF;
	font-weight: bold;
	width: 15px;
	height: 15px;
	position: absolute;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
	font-size: .8em;
}

.ui-shader
{
	top: 7px;
	right: 27px;
}

.ui-closer
{
	top: 7px;
	right: 7px;
}

.shaded .ui-header
{
	border-radius: 10px;
	border-bottom: none;
}

.ui-content
{
	padding: 10px;
	overflow: hidden;
}

.ui-content ul
{
	padding: 0;
	margin: -11px -10px 10px -10px;
	list-style-type: none;
	border-top: solid #999 1px;
}

.ui-content ul li
{
	padding: 5px 10px;
	border-bottom: solid #999 1px;
}

.ui-content ol
{
	margin: -6px -10px 10px -10px;
	border-bottom: solid #999 1px;
}

.ui-content ol li
{
	padding: 5px 10px 5px 0;
	margin: 0;
}

.ui-content table
{
	margin: -11px -11px 10px -11px;
	border-collapse: collapse;
}

.ui-content td, .ui-content th
{
	border: solid #999 1px;
	padding: 5px 10px;
}

.ui-content th, .ui-content table .mark, .ui-content table .delete
{
	cursor: pointer;
}

.ui-content .marked
{
	background-color: #CCC;
	opacity: 0.5;
}

