body
{
	background: #FFF url(../patterns/office/office.png);
	color: #000;
	font-size: 16px;
	font-family: Arial, sans-serif;
}

.ui-window
{
	box-shadow: 0 5px 15px #000;
	background: #FFF url(../patterns/lightpaperfibers/lightpaperfibers.png);
}

.ui-header
{
	background: #EEE url(../patterns/nasty_fabric/nasty_fabric.png);
	color: #000;
	font-weight: bold;
	border-bottom: solid #999 1px;
	padding: 5px 48px 5px 10px;
	cursor: move;
}

.ui-shader, .ui-closer
{
	text-indent: -9999px;
	overflow: : hidden;
	width: 15px;
	height: 15px;
	position: absolute;
	cursor: pointer;
}

.ui-shader
{
	top: 7px;
	right: 27px;
	background: transparent url(../icons/monotone_arrow_up.png) 50% 50% no-repeat;
}

.shaded .ui-shader
{
	background-image: url(../icons/monotone_arrow_down.png);
}

.ui-closer
{
	top: 7px;
	right: 7px;
	background: transparent url(../icons/monotone_close.png) 50% 50% no-repeat;
}

.shaded .ui-header
{
	border-bottom: none;
}

.ui-content
{
	padding: 10px;
	overflow: hidden;
}

.ui-content ul
{
	padding: 0;
	margin: -11px -10px 10px -10px;
	list-style-type: none;
	border-top: solid #999 1px;
}

.ui-content ul li
{
	padding: 5px 10px;
	border-bottom: solid #999 1px;
}

.ui-content ol
{
	margin: -6px -10px 10px -10px;
	border-bottom: solid #999 1px;
}

.ui-content ol li
{
	padding: 5px 10px 5px 0;
	margin: 0;
}

.ui-content table
{
	margin: -11px -11px 10px -11px;
	border-collapse: collapse;
}

.ui-content td, .ui-content th
{
	border: solid #999 1px;
	padding: 5px 10px;
}

.ui-content th:empty
{
	border: none;
}

.ui-content th, .ui-content table .mark, .ui-content table .delete
{
	width: 6px;
	cursor: pointer;
}

.ui-content table .mark
{
	text-indent: -9999px;
	background: url(../icons/monotone_check_inverted.png) 50% 50% no-repeat;
}

.ui-content table .delete
{
	text-indent: -9999px;
	background: url(../icons/monotone_close.png) 50% 50% no-repeat;
}

.ui-content .marked
{
	opacity: 0.25;
}

