body
{
    margin: 0 10%;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background: #000 url(../themes/patterns/cartographer/cartographer.png);
    background-attachment: fixed;
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}

h1, h2, h3
{
    margin: 0 0 10px 0;
    padding: 0;
    font-family: Impact, sans-serif;
    font-weight: normal;
    text-shadow: 1px 1px 1px #000;
}

h1
{
    font-size: 4em;
}

h2
{
    font-size: 2.4em;
}

h3
{
    font-size: 1.4em;
    text-shadow: none;
}

p
{
    margin: 0 0 10px 0;
}

a
{
    color: #F45D00;
}

a:visited
{
    color: #333;
}

.code {
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    background-color: rgba(150, 150, 150, .5);
    padding: 1px;
}

.github
{
    position: absolute;
    top: 0;
    left: 0;
}

.container
{
    padding: 0 10px;
    background: #FFF url(../themes/patterns/bedge_grunge/bedge_grunge.png);
    box-shadow: 0 5px 15px #000;
}

.header
{
    margin: 0px -10px;
    padding: 30px 30px 10px 30px;
}

.header h1
{
    margin: 0;
    color: #FF7600;
}

.header .cut-out
{
    margin-right: -30px;
    margin-left: 5px;
    margin-top: 13px;
}

.try-it-button
{
    float: left;
}

.triangle-right
{
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-left: 30px solid #FF7600;
    border-bottom: 30px solid transparent;
    float: left;
    margin: 5px 10px 0 10px;
}

.try-it h2
{
    margin: 0;
    padding: 0;
}

.try-it a
{
    display: block;
    text-decoration: none;
    height: 100%;
    color: #FF7600;
    position: relative;
    padding: 10px 41px 10px 0;
    text-align: left;
    margin: 0 -30px 0 10px;
    white-space: nowrap;
}

.subtitle
{
    
}

.features
{
    margin: 0 20px 30px 20px;
}

.features > ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.features h2
{
    color: #FF7600;
    background: #000 url(../themes/patterns/cartographer/cartographer.png) 0 0;
    background-attachment: fixed;
    margin-left: -30px;
    padding: 10px 10px 10px 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.feature
{
    margin: 10px 0;
    padding-right: 30px;
}

.feature ul
{
    list-style-type: disc;
    color: #FF7600;
}

.feature ul + p
{
    margin: 15px 0;
}

.feature li
{
    color: #000;
    margin: 5px 0;
}

.note
{
    padding: 15px 15px 15px 40px;
    margin: 0 15px 10px 0;
}

.cut-out
{
    background: #000 url(../themes/patterns/cartographer/cartographer.png) 0 0;
    background-attachment: fixed;
    margin-right: -10px;
    padding-left: 20px;
    padding-right: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #CCC;
}

.cut-out h3
{
    color: #FF7600;
}

.beer
{
    text-align: right;
    font-size: 1.4em;
    display: none;
}

.beer img
{
    float: right;
    margin: 0 0 10px 10px;
}

.beer h3
{
    margin-top: 6px;
    overflow: hidden;
}

.beer a, .beer a:visited
{
    color: #FF7600;
}

.fake-rule
{
    background: #000 url(../themes/patterns/cartographer/cartographer.png) 0 0;
    background-attachment: fixed;
    height: 10px;
    margin: 0 -10px;
}

.footer
{
    padding: 20px 10px;
}

.creative-commons > a
{
    float: left;
    width: 40px;
    height: 100px;
    position: relative;
}

.creative-commons > div
{
    text-align: left;
    overflow: hidden;
    font-size: 1.2em;
    margin-top: 10px;
}

.creative-commons img
{
    position: absolute;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -mx-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    left: -28px;
    top: 30px;
}